{% extends "::base.html.twig" %}

{% block title %}Apartment list{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>List of apartments</h1>
    </div>
    {{ include('ApartmentBundle::flash.html.twig') }}
    <div class="apartment-list">
        {% for apartment in apartments %}
            <div class="apartment-card">
                <h3><a href="{{ path('view', {'id': apartment.id}) }}">{{ apartment.street }}, {{ apartment.town}}</a></h3>
                <div class="apartment-details">
                    <dl class="dl-horizontal">
                        <dt>Move-in date</dt>
                        <dd>{{ apartment.moveInDate | date('m/d/Y') }}</dd>

                        <dt>Address</dt>
                        <dd><a href="https://www.google.com/maps/search/{{ apartment.street }},{{ apartment.town}},{{ apartment.country }},{{ apartment.postcode }}" target="_blank">
                                {{ apartment.street }}, {{ apartment.town}}, {{ apartment.country }}, {{ apartment.postcode }}
                            </a></dd>
                        <dt>Contact email</dt>
                        <dd><a href="mailto:{{ apartment.email }}">
                                {{ apartment.email }}
                            </a></dd>
                    </dl>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
    {% if (current_page > 1) %}
        <a href="{{ path('list', {'page': (current_page - 1) }) }}" class="btn btn-default btn-sm">&larr;&nbsp;Backward</a>
    {% endif %}

    {% if (total_pages > current_page) %}
        <a href="{{ path('list', {'page': (current_page + 1) }) }}" class="btn btn-default btn-sm">Forward&nbsp;&rarr;</a>
    {% endif %}
    </div>

{% endblock %}